html,body {
	height: 100%;
}

body.loginWrapper {
	background-color: #f7f9fb;
	font-size: 14px;
}

.loginWrapper .brand {
	width: 90px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.loginWrapper .brand img {
	width: 100%;
}

.loginWrapper .boxWrapper {
	width: 400px;
}

.loginWrapper .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.loginWrapper .card.fat {
	padding: 10px;
}

.loginWrapper .card .card-title {
	margin-bottom: 30px;
}

.loginWrapper .form-control {
	border-width: 2.3px;
}

.loginWrapper .form-group label {
	width: 100%;
}

.loginWrapper .btn.btn-block {
	padding: 12px 10px;
}

.loginWrapper .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.logoWrapper{
	margin:40px;
}

@media screen and (max-width: 425px) {
	.loginWrapper .boxWrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.loginWrapper .card.fat {
		padding: 0;
	}

	.loginWrapper .card.fat .card-body {
		padding: 15px;
	}
}
